.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: fit-content;
  min-width: 400px;
  width: 50%;
  max-width: 500px;
  padding: 50px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid cyan;
}
.form-container h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  text-align: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-inputs label {
  font-size: 1.5em;
  font-weight: lighter;
  color: #333333;
  margin-bottom: 7px;
}

#main {
  display: flex;
  justify-content: center;
}

#Navbar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ff00ff;
  height: 60px;
  border-bottom: 2px solid cyan;
  margin: 0;
}
.navbar button {
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ff00ff;
}
