:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333333;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

#main {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-template-areas: "Navboard Content" "Navboard Content" "Navboard Content" "Navboard Content" "Navboard Content";
  grid-area: Content;
}
.form-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-self: center;
  height: fit-content;
  min-width: 400px;
  width: 50%;
  max-width: 500px;
  padding: 50px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid cyan;
}
.form-container h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  text-align: center;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.login-inputs label {
  font-size: 1.5em;
  font-weight: lighter;
  color: #333333;
  margin-bottom: 7px;
}

#title {
  align-self: center;
}

p {
  align-self: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ff00ff;
}
.Card {
  grid-area: Content;
  width: 85vw;
  max-width: 500px;
  height: 40vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  background-color: whitesmoke;
  align-self: center;
  justify-self: center;
}
#card-content {
  flex-grow: 1;
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.GuestContent {
  grid-area: Content;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#guestcard {
  width: 60vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .Card {
    width: 350px;
    height: 450px;
    font-size: 14px;
  }
  .theme-toggle {
    width: 150px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #e5e5e5;
  }
}
